
[data-theme="light"] {
	--color-oscuro: #211935;
	--color-rosa: #A091CF;
	--color-azulClaro: #1571D5;
	--color-azulOscuro: #093594;
	--color-azulMuyClaro: #B5CDE7;
	--color-blanco: #fff;
	--color-negro: black;
	--color-blancoRGBA: rgba(255,255,255,0.24);
	--color-negroRGBA: rgba(0,0,0,0.24);
}

[data-theme="dark"] {
	--color-oscuro: #EEEEEE;
	--color-rosa: #00ADB5;
	--color-azulClaro: #3A4750;
	--color-azulOscuro: #3A4750;
	--color-azulMuyClaro: #3A4750;
	--color-blanco: #303841;
	--color-negro: #fff;
	--color-blancoRGBA: rgba(0,0,0,0.24);
	--color-negroRGBA: rgba(255,255,255,0.24);
}

.tabcontent {
	display: none;
}

	.tabcontent .active {
		display: block;
		display: show;
	}

.navbar {
	transition: all 0.4s;
	background-color: var(--color-oscuro);
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

	.navbar .nav-link {
		color: var(--color-oscuro);
	}

		.navbar .nav-link:hover,
		.navbar .nav-link:focus {
			color: #fff;
			text-decoration: none;
		}

	.navbar .navbar-brand {
		color: #fff;
	}

.navbar-brand img {
	width: 120px;
	height: 50px;
}

@media (max-width: 991.98px) {
	.navbar {
		background: #fff;
	}

		.navbar .navbar-brand,
		.navbar .nav-link {
			color: #555;
		}
}

.text-small {
	font-size: 0.9rem !important;
}

body {
	min-height: 110vh;
	background: var(--color-blanco);
}

::-webkit-scrollbar {
	display: none;
}

.sticky {
	position: fixed;
	top: 0;
	width: 100%;
}

	.sticky + .content {
		padding-top: 102px;
	}

* {
	font-family: "Montserrat", sans-serif;
}

.container-fluid {
	overflow: hidden;
	margin-top: 250px;
	background: var(--color-negro) !important;
	color: var(--color-blanco) !important;
	margin-bottom: 0;
	padding-bottom: 0;
	border-top: 1px solid var(--color-blanco)
}

.containerHandia {
	padding: 40px;
	width: 85%;
	height: auto;
	margin: auto;
}
	.containerHandia h2, .containerRound {
		color: var(--color-negro)
	}

	.containerHandia h2 {
		font-weight: bold;
	}

	.containerHandia .containerRound {
		display: inline-block;
		padding: 10px;
		border-radius: 25px;
		border: 1px solid #555;
		color: var(--color-negro);
		font-size: 15px;
	}
hr {
	border-color: var(--color-negro);
}
h5{
	font-weight:bold;
}
.containerTxikia {
	width: 65%;
	float: left;
	height: auto;
	background-color:#fff;
}

.containerTxikiaIMG {
	float: right;
	overflow: hidden;
}

	.containerTxikiaIMG img {
		border-radius: 25px;
		float: right;
		width: 320px;
		height: 250px;
		transition: transform 0.5s ease;
	}

	.containerTxikiaIMG:hover img {
		transform: scale(1.5);
	}

.containerSup {
	padding: 15px;
	border-radius: 15px;
	background-color: #fff;
	width: auto;
	height: 280px;
	box-shadow: var(--color-negroRGBA) 0px 3px 8px;
}
section{
	background:var(--color-blanco)
}